.card-content {
  background: #b8c48099;
  padding: 0 0 5rem 0;
}

.card-content .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.card-content h2 {
  font-size: 2.5rem;
  margin: 3rem 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.card {
  text-align: center;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card:hover .image {
  box-shadow: 0px 0px 5px 5px #3b3b;

  /* Transition */
  transition: box-shadow 0.5s ease;
}

.card .text {
  width: 15rem;
  font-size: 1.5rem;
}

.card .image {
  height: 15rem;
  width: 15rem;
  border: 5px solid rgba(0, 50, 200, 0.8);
  border-radius: 1rem;

  /* Transition */
  transition: box-shadow 0.5s ease;

  animation: background-change 5s alternate infinite;
}

@keyframes background-change {
  0% {
    background: rgb(36, 221, 190);
  }
  50% {
    background: white;
  }
  100% {
    background: rgba(0, 50, 200, 0.8);
  }
}
