.main-header {
  background: #048ba8;
  height: 35rem;
}

.main-header .container {
  height: inherit;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.main-header h1 {
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  text-shadow: 3px 3px 5px #fff;
}

.main-header p {
  font-size: 1.5rem;
  color: #222;
}

.main-header .header-content {
  flex: 1 0 40%;
}

.main-header .image {
  flex: 2 1 50%;
  width: 300px;
  height: 200px;
  background: linear-gradient(
      200deg,
      rgba(0, 50, 200, 0.5),
      rgba(200, 200, 200, 0.2),
      rgba(0, 50, 200, 0.5)
    ),
    url(../images/white-flowers.jpg) no-repeat center / cover;

  background-size: 100% auto;

  border-radius: 1rem;
  box-shadow: 0px 0px 5px 3px white;
}

@media screen and (max-width: 40rem) {
  .main-header {
    height: 50rem;
  }
  .main-header .container {
    display: block;
  }

  .main-header .image {
    margin-top: 2.5rem;
  }
}
