.main-navbar {
  background: #048ba8;
  height: 9rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main-navbar div {
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1 1 20%;
  align-self: center;
}

.main-navbar ul {
  list-style-type: none;
  flex: 1 1 40%;

  /* Flexbox */
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.main-navbar li {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-navbar a {
  flex: 1 1 auto;
  color: #fff;
  padding: 1rem;

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar li:last-child a:hover {
  border-top-right-radius: 1rem;
}

.main-navbar a:hover {
  background-color: #f18f01;
  color: #000;

  transition: background-color 0.5s ease, color 0.5s ease 0.2s;
}
