.quote-content {
  background: #ccc;
  padding: 5rem;
  position: relative;
}

.quote-content blockquote {
  width: 60%;
  margin: 0 auto;
  font-style: italic;
  font-weight: 300;
}

.quote-content cite {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
  right: 35%;
}
